<h1>Bai 2</h1>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <!-- <label for="">Tìm sản phẩm</label> -->
          <input type="text" size="50" [(ngModel)]="searching"
            (ngModelChange)="filterResults()" name="searching"
            class="input form-control" placeholder="Tìm sản phẩm">
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-3 pl-3 pr-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            Image
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price </th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterProductList">
          <td scope="row"><img src="{{item.imageUrl}}" width="50px" alt=""
              srcset=""> </td>
          <td>
            <a [routerLink]="['/bai2-product-details', item.productId]">
              {{item.productName}}
            </a>
          </td>
          <td>{{item.productCode}}</td>
          <td>{{item.releaseDate}}</td>
          <td>{{item.price}}</td>
          <td class="text-warning">
            <app-bai1-star [rating]="item.starRating"
              (outputRating)="showRating($event)"></app-bai1-star>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>