<div class="mx-auto mt-3" style="max-width: 500px;">
  <form action="">
    <select [(ngModel)]="choice" class="form-select" name="choice" id="choice">
      <option value="Mức giá">Mức giá</option>
      <option value="199">Dưới 200</option>
      <option value="200">Từ 200-500</option>
      <option value="501">Trên 500</option>
    </select>
  </form>
  <table class="table m-auto">
    <thead>
      <tr class="text-nowrap">
        <th>
          <input class="form-check-input opacity-100" type="checkbox"
            id="demoCheck" checked disabled>
        </th>
        <th>Hang hoa</th>
        <th>Don gia</th>
        <th>So luong</th>
        <th>Thanh tien</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of filterprice()">
        <!-- cot1 -->
        <td>
          <input [(ngModel)]="x.active" class="form-check-input"
            id="{{ x.hanghoa + 'active' }}" type="checkbox">
        </td>
        <!-- cot2 -->
        <td>
          {{x.hanghoa}}
        </td>
        <!-- cot3 -->
        <td>
          {{x.dongia}}
        </td>
        <!-- cot4 -->
        <td>
          <input [(ngModel)]="x.soluong" class="form-control" type="number"
            min="0" id="{{x.hanghoa + 'dongia'}}">
        </td>
        <td *ngIf="x.active">
          ${{ x.dongia * x.soluong }}
        </td>
        <td *ngIf="!x.active"></td>
      </tr>
      <tr>
        <td colspan="4">
          Tong tien
        </td>
        <td>
          {{ tongTien() }}
        </td>
      </tr>
    </tbody>
  </table>
</div>