<main>
  <div class="card">
    <div class="card-header fs-5 fw-bold text-center">
      PT bac 2
    </div>
    <div class="card-body">
      <label for="a">a: {{ inSoThuc(a) }}</label>
      <input class="form-control" type="text" [(ngModel)]="a" name="a" id="a" />
      <label for="b">b: {{ inSoThuc(b) }}</label>
      <input class="form-control" type="text" [(ngModel)]="b" name="b" id="b" />
      <label for="c">c: {{ inSoThuc(c) }}</label>
      <input class="form-control" type="text" [(ngModel)]="c" name="c" id="c" />
    </div>
    <div class="card-footer fw-bold text-danger">
      {{ xuLy() }}
    </div>
  </div>
</main>