<style>
  .img-container {
    min-width: 25%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
  }
</style>
<div class="card">
  <div class="card-header text-center fs-5 fw-bold text-info">
    Student Information
  </div>
  <div class="card-body">
    <div class="d-flex gap-1 mb-3" *ngFor="let student of studentList">
      <div class="img-container">
        <img src="{{ student.pic }}" alt="">
      </div>
      <div class="list-group flex-fill">
        <div class="list-group-item">Fullname: {{ student.fullname }}</div>
        <div class="list-group-item">Birthday:
          {{
          student.birthday.getDate()
          }}/{{
          student.birthday.getMonth()
          }}/{{
          student.birthday.getFullYear()
          }}
        </div>
        <div class="list-group-item">Gender: {{ student.gender }}</div>
        <div class="list-group-item">Mark: {{ student.mark }}</div>
      </div>
    </div>
  </div>
</div>