<form [formGroup]="formEmployee">
  <div class="row">
    <label class="col-md-6" for="fullname">
      <ng-container [ngSwitch]="switchFullname(formEmployee.controls.fullname)" class="mb-2">
        <div *ngSwitchCase="0">
          Ho ten
        </div>
        <div *ngSwitchCase="1" class="text-success">
          Ho ten ok
          <i class="bi bi-check-circle"></i>
        </div>
        <div *ngSwitchCase="2" class="text-danger">
          Ho ten khong de trong
          <i class="bi bi-exclamation-circle"></i>
        </div>
        <div *ngSwitchCase="3" class="text-danger">
          Ho ten toi thieu 8 ki tu
          <i class="bi bi-exclamation-circle"></i>
        </div>
        <div *ngSwitchCase="4" class="text-danger">
          Ho ten toi da 50 ki tu
          <i class="bi bi-exclamation-circle"></i>
        </div>
      </ng-container>
      <input class="form-control" type="text" name="fullname" id="fullname"
        [formControl]="formEmployee.controls.fullname" required>
    </label>
    <label class="col-md-6" for="salary">
      <ng-container [ngSwitch]="switchSalary(formEmployee.controls.salary)" class="mb-2">
        <div *ngSwitchCase="0">
          Luong
        </div>
        <div *ngSwitchCase="1" class="text-success">
          Luong ok
          <i class="bi bi-check-circle"></i>
        </div>
        <div *ngSwitchCase="2" class="text-danger">
          Luong khong de trong
          <i class="bi bi-exclamation-circle"></i>
        </div>
        <div *ngSwitchCase="3" class="text-danger">
          Luong toi thieu 7000000
          <i class="bi bi-exclamation-circle"></i>
        </div>
      </ng-container>
      <input [formControl]="formEmployee.controls.salary" class="form-control"
        type="number" name="salary" id="salary">
    </label>
  </div>
  <div class="row">
    <div class="col-md-6">
      Gioi tinh
      <br>
      <div class="d-flex gap-1 align-items-center">
        <label for="nam">
          <input [formControl]="formEmployee.controls.gender"
            class="form-check-input" type="radio" name="gender" id="nam"
            value="Nam">
          Nam
        </label>
        <label for="nu">
          <input [formControl]="formEmployee.controls.gender"
            class="form-check-input" type="radio" name="gender" id="nu"
            value="Nu">
          Nu
        </label>
        <button (click)="add()" class="btn btn-primary">Add</button>
        <button [disabled]="updateIndex == -1" (click)="update()"
          class="btn btn-primary">Update</button>
      </div>
    </div>
    <label class="col-md-6" for="birthday">
      <ng-container [ngSwitch]="switchBirthday(formEmployee.controls.birthday)" class="mb-2">
        <div *ngSwitchCase="0">
          Ngay sinh
        </div>
        <div *ngSwitchCase="1" class="text-success">
          Ngay sinh ok
          <i class="bi bi-check-circle"></i>
        </div>
        <div *ngSwitchCase="2" class="text-danger">
          Ngay sinh khong de trong
          <i class="bi bi-exclamation-circle"></i>
        </div>
        <div *ngSwitchCase="3" class="text-danger">
          Ngay sinh nho hon bang ngay hien tai
          <i class="bi bi-exclamation-circle"></i>
        </div>
      </ng-container>
      <input [formControl]="formEmployee.controls.birthday" class="form-control"
        type="date" name="birthday" id="birthday">
    </label>
  </div>

</form>
<!-- <div *ngIf="formEmployee.controls.fullname.invalid && (formEmployee.controls.fullname.dirty ||
formEmployee.controls.fullname.touched)">
  <div *ngIf="formEmployee.controls.fullname.errors?.['required']">
    fullName is required.
  </div>
  <div *ngIf="formEmployee.controls.fullname.errors?.['minlength']">
    Name must be at least 8 characters long.
  </div>
</div> -->

<table class="table">
  <tbody>
    <tr>
      <th>STT</th>
      <th>Ho ten</th>
      <th>Gioi tinh</th>
      <th>Tuoi</th>
      <th>Luong</th>
      <th>Thuong</th>
    </tr>
    <tr *ngFor="let employee of employeeList; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ employee.fullname }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ getAge(employee) }}</td>
      <td>{{ employee.salary | currency : 'VND' }}</td>
      <td>{{ getBonus(employee) | currency : 'VND' }}</td>
      <td>
        <button (click)="edit(i)"
          class="btn btn-sm btn-primary p-0 me-1">Edit</button>
        <button (click)="delete(i)" class="btn btn-sm btn-danger p-0
        ">Delete</button>
      </td>
    </tr>
  </tbody>
</table>