<form action="" class="card">
  <div class="card-header text-center text-info fs-5 fw-bold">
    Mang ngau nhien
  </div>
  <div class="card-body">
    <div class="d-flex gap-3 mb-3">
      <label class="form-label" for="dong">
        Dong
        <input [(ngModel)]="dong" id="dong" name="dong" class="form-control" type="text">
      </label>
      <label class="form-label" for="cot">
        Cot
        <input [(ngModel)]="cot" id="cot" name="cot" class="form-control" type="text">
      </label>
    </div>
    <button (click)="xuLy()" class="btn btn-primary d-block ms-auto">Ok</button>
    <div class="text-danger" *ngFor="let dong of twoDimArr">
      {{ arrToString(dong) }} &nbsp;
    </div>
  </div>
  <div class=" card-footer text-danger fw-bold">
    {{ thongBao }} &nbsp;
  </div>
</form>