<div class="text-end mt-1">
  <button class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#cartModal">Cart
    ({{totalItems()}})
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title " id="myModalLabel">Cart</h4>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body p-0">
        <table class="table table-bordered mb-0">
          <tbody>
            <tr *ngFor="let items of cartItems; let i=index">
              <td>{{items.title}}</td>
              <td style="width:120px">QTY:
                <input [(ngModel)]="items.qtys" class="form-control
              input-qty" type="number" min="1">
              </td>
              <td class="text-right">{{items.price | currency: 'VND'}}</td>
              <td>
                <button (click)="removeItem(i)" class="btn"><span
                    class="bi bi-trash"></span></button>
              </td>
            </tr>
            <tr *ngIf="cartItems.length == 0">
              <td colspan="4" class="text-center">Cart is empty</td>
            </tr>
            <tr *ngIf="cartItems.length > 0">
              <td></td>
              <td class="text-right">Cart Total </td>
              <td class="text-right text-danger font-weight-
                bold">{{Total() | currency:"VND"}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6 col-sm-3 text-center" *ngFor="let item of products">
      <img [src]="item.image" alt="">
      <h5>{{ item.title }}</h5>
      <h6 class="text-danger">{{item.price | currency:'VND' }}</h6>
      <p class="text-center"><input [(ngModel)]="item.qty" type="number"
          class="form-control" placeholder="Qty" min="1" /></p>
      <button (click)="addToCart(item)" class="btn btn-sm btn-primary">Add
        to Cart</button>
    </div>
  </div>
</div>