<style>
  .form-control:disabled {
    background-color: inherit;
  }
</style>

<main (input)="clearOutput()">
  <div class="card">
    <div
      class="card-header fs-5 fw-bold d-flex align-items-center justify-content-center gap-2">
      PT
      <div>
        <input (change)="moBac2()" class="form-check-input" type="radio"
          name="bac" id="bac2" checked />
        <label for="bac2">bac 2</label>
      </div>
      <div>
        <input (change)="moBac1()" class="form-check-input" type="radio"
          name="bac" id="bac1" />
        <label for="bac1">bac 1</label>
      </div>
    </div>

    <div class="card-body">
      <div class="chung">
        <label for="a">a: {{ inSoThuc(a) }}</label>
        <input [(ngModel)]="a" class="form-control" type="text" name="a" id="a">
        <label for="b">b: {{ inSoThuc(b) }}</label>
        <input [(ngModel)]="b" class="form-control" type="text"name="b" id="b">
      </div>

      <div class="bac1" [hidden]="!cheDo('bac1')">
        <label for="x">x</label>
        <input [value]="x" class="form-control" type="text" name="x" id="x"
          disabled>
      </div>

      <div class="bac2" [hidden]="!cheDo('bac2')">
        <label for="c">c: {{ inSoThuc(c) }}</label>
        <input class="form-control" type="text" [(ngModel)]="c" name="c" id="c">
        <label for="x1">x1</label>
        <input [value]="x1" class="form-control" type="text" name="x1" id="x1"
          disabled>
        <label for="x2">x2</label>
        <input [value]="x2" class="form-control" type="t wwext" name="x2" id="x2"
          disabled>
      </div>

      <button (click)="xuLy()" class="btn btn-primary mt-2">Bat dau</button>
    </div>
    <div class="card-footer fw-bold text-danger">
      {{ thongBao }}
    </div>
  </div>
</main>
