<app-header></app-header>
<div class="card content-wrapper">
  <div class="card-header">
    <i class="bi bi-person-fill pic"></i>
  </div>
  <div class="card-body">
    <h1 class="name">
      Lorem Ipsum
    </h1>
    <table class="w-751">
      <tbody>
        <tr>
          <td>Tên hiển thị</td>
          <td><a href="" class="btn btn-dark">Chỉnh sửa</a></td>
        </tr>
        <tr>
          <td>Tên đăng nhập</td>
          <td><a href="" class="btn btn-dark">Chỉnh sửa</a></td>
        </tr>
        <tr>
          <td>Mật khẩu</td>
          <td><a href="" class="btn btn-dark">Chỉnh sửa</a></td>
        </tr>
        <tr>
          <td>Địa chỉ email</td>
          <td><a href="" class="btn btn-dark">Chỉnh sửa</a></td>
        </tr>
        <tr>
          <td>Số điện thoại</td>
          <td><a href="" class="btn btn-dark">Chỉnh sửa</a></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <!-- <a href="" class="ms-1 btn btn-danger">Chỉnh sửa</a> -->
      <a href="" class="ms-1 btn btn-warning">Lưu thay đổi</a>
    </div>
  </div>
</div>
<app-footer></app-footer>