<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="/assets/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="bai1-product-list">
            Bai 1
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bai2-product-list">
            Bai 2
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bai3-product-list">
            Bai 3
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="text-bg-dark text-center p-3">
  Copyright &copy; ITC
</footer>