<form [formGroup]="form" action="" style="max-width: 500px; margin: auto;"
  autocomplete="on">
  <label class="form-label" for="name">
    Name
  </label>
  <input formControlName="name" class="form-control" type="text" name="name"
    id="name" autocomplete="on">
  <ng-container *ngIf="form.controls.name.valid">
    <div class="text-success mb-2">
      Ho ten dung dinh dang
      <i class="bi bi-check-circle"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="form.controls.name.invalid">
    <div class="text-danger mb-2">
      <span *ngIf="form.controls.name.errors?.['required']">
        Vui long nhap ho ten
      </span>
      <span *ngIf="form.controls.name.errors?.['minlength']">
        Ho ten toi thieu 9 ki tu
      </span>
      <span *ngIf="form.controls.name.errors?.['maxlength']">
        Ho ten toi da 50 ki tu
      </span>
      <i class="bi bi-exclamation-circle"></i>
    </div>
  </ng-container>
  <label class="form-label" for="age">
    Age
  </label>
  <input formControlName="age" class="form-control" type="text" name="age"
    id="age" min="0" step="1">
  <ng-container *ngIf="form.controls.age.valid">
    <div class="text-success mb-2">
      Tuoi dung dinh dang
      <i class="bi bi-check-circle"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="form.controls.age.invalid">
    <div class="text-danger mb-2">
      <span *ngIf="form.controls.age.errors?.['required']">
        Vui long nhap tuoi
      </span>
      <span *ngIf="form.controls.age.errors?.['pattern']">
        Tuoi chi chua so
      </span>
      <i class="bi bi-exclamation-circle"></i>
    </div>
  </ng-container>
  <label class="form-label" for="username">
    Username
  </label>
  <input autocomplete="username" formControlName="username"
    class="form-control mb-2" type="text" name="username" id="username">
  <ng-container *ngIf="form.controls.username.valid">
    <div class="text-success mb-2">
      Ten dang nhap dinh dang
      <i class="bi bi-check-circle"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="form.controls.username.invalid">
    <div class="text-danger mb-2">
      <span *ngIf="form.controls.username.errors?.['required']">
        Vui long nhap ten dang nhap
      </span>
      <span *ngIf="form.controls.username.errors?.['minlength']">
        Ten dang nhap toi thieu 6 ki tu
      </span>
      <span *ngIf="form.controls.username.errors?.['maxlength']">
        Ten dang nhap toi da 12 ki tu
      </span>
      <i class="bi bi-exclamation-circle"></i>
    </div>
  </ng-container>
  <label class="form-label" for="password">
    Password
  </label>
  <input autocomplete="current-password" formControlName="password"
    class="form-control" [type]="form.value.showPassword ? 'text' : 'password'"
    name="password" id="password">
  <ng-container [ngSwitch]="switchPassword(form.controls.password)" class="mb-2">
    <div *ngSwitchCase="0" class="text-danger">
      Vui long nhap mat khau
      <i class="bi bi-exclamation-circle"></i>
    </div>
    <div *ngSwitchCase="1" class="text-success">
      Mat khau dung dinh dang
      <i class="bi bi-check-circle"></i>
    </div>
    <div *ngSwitchCase="2" class="text-danger">
      Mat khau khong de trong
      <i class="bi bi-exclamation-circle"></i>
    </div>
    <div *ngSwitchCase="3" class="text-danger">
      Mat khau toi thieu 8 ki tu
      <i class="bi bi-exclamation-circle"></i>
    </div>
    <div *ngSwitchCase="4" class="text-danger">
      Mat khau phai chua so
      <i class="bi bi-exclamation-circle"></i>
    </div>
    <div *ngSwitchCase="5" class="text-danger">
      Mat khau phai chua chu cai
      <i class="bi bi-exclamation-circle"></i>
    </div>
    <div *ngSwitchCase="6" class="text-danger">
      Mat khau phai chua ki tu dac biet
      <i class="bi bi-exclamation-circle"></i>
    </div>
  </ng-container>
  <label class="form-check-label" for="showPassword">
    <input formControlName="showPassword" class="form-check-input"
      type="checkbox" name="showPassword" id="showPassword">
    Hien thi mat khau
  </label>
  <br>
  <label for="email">Email</label>
  <input formControlName="email" class="form-control mb-2" type="email"
    name="email" id="email" autocomplete="on">
  <ng-container *ngIf="form.controls.email.valid">
    <div class="text-success mb-2">
      Email dung dinh dang
      <i class="bi bi-check-circle"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="form.controls.email.invalid">
    <div class="text-danger mb-2">
      <span *ngIf="form.controls.email.errors?.['required']">
        Vui long nhap email
      </span>
      <span *ngIf="form.controls.email.errors?.['email']">
        Email phai co dinh dang ten&commat;vidu
      </span>
      <i class="bi bi-exclamation-circle"></i>
    </div>
  </ng-container>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Dang ky</button>
</form>