<table class="table table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Code</th>
      <th>Available</th>
      <th>Price </th>
      <th>5 Star Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productList">
      <td scope="row"><img src="{{item.imageUrl}}" width="50px" alt="">
          <td>{{item.productName}}</td>
      <td>{{item.productCode}}</td>
      <td>{{item.releaseDate}}</td>
      <td>{{item.price}}</td>
      <td>
        <div class="crop text-warning" [style.width.px]="(item.starRating*90)/5">
          <div style="width: 90px;">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>